@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body{
    font-family: 'Muli', sans-serif;
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: flex;
    margin: 0;
    overflow: hidden;
}

.bg{
    background: url('./assets/Bogor.jpg')no-repeat center center/cover;
    position: absolute;
    top: -30px;
    left: -30px;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    filter: blur(0px);
}
 
.loading-text{
    font-size: 30px;
    color: cornsilk;

}